.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
data/gcp/service_account.json
# Ignore Airflow logs
logs/
# Ignore Docker data and logs
*.log
postgres_data/
docker-compose.override.yaml
# Editor directories (like .idea for JetBrains IDEs)
.idea/